
.youtube {
  color: #ff0099;
  font-size: 1.5em;
}

.channel {
  border: $border;
}

.search {
  position: relative;
  margin: 0 0 20px;
  input {
    background-image: url("/searchicon.png");
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 7px 5px 7px 30px;
    border-radius: 10px;
    margin-right: 5px;
    width: 250px;
    border: 2px solid $shade9;
    vertical-align: bottom;
    &:hover, &:focus {
      outline: none;
    }
  }
}

.search_clear {
  position: absolute;
  top: 0;
  right: 0;
  &:after {
    content: "\274c";
  }
}

.thead {
  border: $border;
  th {
    padding: 10px 30px;
    border: $border;
    border-color: $shade9;
    cursor: pointer;
    background: $shade3;
    color: $shade9;
  }
}

.th_favorite {
  width: 120px;
}

.th_title {
  text-align: left;
}

.th_view {
  width: 150px;
}

.th_created {
  width: 200px;
}

.row {
  .favorite {
    content: "-";
    display: inline-block;
    padding: 20px;
    &.selected {
      content: "+";
    }
  }
  &:nth-child(even) {
    background: $shade11;
  }
}

.td {
  border: $border;
  text-align: center;
  padding: 20px;
}

.favorite, .favorite_true {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  font-size: 2em;
  &:after {
    content: "\2605";
  }
}

.favorite:after {
  color: $shade10;
}

.favorite_true:after {
  color: $orange;
}

.channel_info {
  text-align: left;
  line-height: 1.3em;
  @include flex_layout();
  @include flex_items($margin: auto 10px);
  img {
    border: $border;
  }
  a {
    text-decoration: none;
    color: $aqua;
    font-size: .857em;
  }
}

.channel_title {
  font-size: 1.1em;
}

.channel_id {
  font-size: .65em;
  color: $shade8;
}