
.youtube {
  color: #ff0099;
  font-size: 1.5em;
}

.channel {
  border: $border;
}

.search {
  margin: 0 0 20px;
  input {
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    &:hover, &:focus {
      outline: none;
    }
  }
}

.thead {
  border: $border;
  th {
    padding: 3px 30px;
    border: $border;
    cursor: pointer;
  }
}

.th_title {
  text-align: left;
  width: 100%;
}

.th_view {}

.th_created {}

.row {
  .favorite {
    content: "-";
    display: inline-block;
    padding: 20px;
    &.selected {
      content: "+";
    }
  }
}

.td {
  border: $border;
  text-align: center;
  padding: 20px;
}

.favorite {
  content: "-";
  display: inline-block;
  padding: 20px;
}

.favorite_true {
  content: "+";
  display: inline-block;
  padding: 20px;
}

.channel_info {
  text-align: left;
  @include flex_layout();
  @include flex_items($margin: auto 10px);
  img {
    border: $border;
  }
}